<image-gallery data-id="{{ block.id }}">
  {%- if block.settings.heading -%}
    <h2>{{ block.settings.heading }}</h2>
  {%- endif -%}

  {%- if block.settings.description -%}
    <p>{{ block.settings.description }}</p>
  {%- endif -%}

  {%- if block.settings.googleform -%}
  <div class="gallery">
    <iframe width="600" height="450" src={{ block.settings.googleform }} frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  {%- endif -%}

  <image-popup init>
    <template image-popup>
      <button close-button class="close-button">
        {%- render 'icon-close' -%}
      </button>
    </template>
  </image-popup>

</image-gallery>

{% schema %}
  {
    "name": "Adicionar formulário",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Título",
        "default": "Titulo default"
      },
      {
        "type": "text",
        "id": "googleform",
        "label": "Google form URL"
      }
    ]
  }
{% endschema %}