<image-gallery data-id="{{ block.id }}">
  {%- if block.settings.heading -%}
    <h2>{{ block.settings.heading }}</h2>
  {%- endif -%}

  {%- if block.settings.description -%}
    <p>{{ block.settings.description }}</p>
  {%- endif -%}

  <div class="gallery">
<h1>Bloco que vou exibir minhas estatísticas. HELLO WORLD!</h1>
  </div>

  <image-popup init>
    <template image-popup>
      <button close-button class="close-button">
        {%- render 'icon-close' -%}
      </button>
    </template>
  </image-popup>

</image-gallery>

{% schema %}
  {
    "name": "Adicionar estatística",
    "target": "section",
    "stylesheet": "image-gallery.css",
    "javascript": "image-gallery.js",
    "templates": ["product", "index"],
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Chamada - Teste",
        "default": "Cute Puppy Gallery"
      }
    ]
  }
{% endschema %}
